<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% load static %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <table>
        <caption>Parent Task</caption>
        <tbody>
            <tr>
                <td>Task Date</td>
                <td>No.</td>
                <td>Task Name</td>
                <td>Time</td>
                <td>From(Hour)</td>
                <td>From(Min)</td>
                <td>To(Hour)</td>
                <td>To(Min)</td>
            </tr>
            <tr>
                <td>{{ parent_task.task_date }}</td>
                <td>{{ parent_task.task_no }}</td>
                <td>{{ parent_task.task_name }}</td>
                <td>{{ parent_task.time }}</td>
                <td>{{ parent_task.time_start_hour }}</td>
                <td>{{ parent_task.time_start_min }}</td>
                <td>{{ parent_task.time_end_hour }}</td>
                <td>{{ parent_task.time_end_min }}</td>
            </tr>
        </tbody>
    </table>
    <form>
        <table>
            <caption>Child Tasks</caption>
            <tbody>
                <tr>
                    <td>No.</td>
                    <td>Task Name</td>
                    <td>Time</td>
                    <td>From(Hour)</td>
                    <td>From(Min)</td>
                    <td>To(Hour)</td>
                    <td>To(Min)</td>
                    <td>Classification</td>
                </tr>
                {% for task in child_tasks %}
                <tr>
                    <td>{{ task.task_no }}</td>
                    <td>{{ task.task_name }}</td>
                    <td>{{ task.time }}</td>
                    <td>{{ task.time_start_hour }}</td>
                    <td>{{ task.time_start_min }}</td>
                    <td>{{ task.time_end_hour }}</td>
                    <td>{{ task.time_end_min }}</td>
                    <td>{{ task.classification }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
</html>