{% extends "./common/base.html" %}

{% block title %}Create Child Task{% endblock %}

{% block content %}
<table>
    <caption>Parent Task</caption>
    <tbody>
        <tr>
            <td>No.</td>
            <td>Task Name</td>
            <td>Time</td>
            <td>From</td>
            <td>To</td>
        </tr>
        <tr>
            <td>{{ parent_task.task_no }}</td>
            <td>{{ parent_task.task_name }}</td>
            <td>{{ parent_task.time }}</td>
            <td>{{ parent_task.time_start }}</td>
            <td>{{ parent_task.time_end }}</td>
        </tr>
    </tbody>
</table>

<table>
    <caption>Child Tasks</caption>
    <tbody>
        <tr>
            <td>No.</td>
            <td>Task Name</td>
            <td>Time</td>
            <td>From</td>
            <td>To</td>
        </tr>
        {% for task in child_tasks %}
        <tr>
            <td>{{ task.task_no }}</td>
            <td>{{ task.task_name }}</td>
            <td>{{ task.time }}</td>
            <td>{{ task.time_start}}</td>
            <td>{{ task.time_end }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}