{% extends "./common/base.html" %}

{% block content %}

    {% load static %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <table>
        <caption>Parent Task</caption>
        <tbody>
            <tr>
                <td>Task Date</td>
                <td>No.</td>
                <td>Task Name</td>
                <td>Time</td>
                <td>From</td>
                <td>To</td>
            </tr>
            <tr>
                <td>{{ parent_task.task_date }}</td>
                <td>{{ parent_task.task_no }}</td>
                <td>{{ parent_task.task_name }}</td>
                <td>{{ parent_task.time }}</td>
                <td>{{ parent_task.time_start }}</td>
                <td>{{ parent_task.time_end }}</td>
            </tr>
        </tbody>
    </table>

    <form id="new_todo_list" method="post" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            <caption>Child Tasks</caption>
            <tbody>
                <tr>
                    <td>No.</td>
                    <td>Task Name</td>
                    <td>Time</td>
                    <td>From</td>
                    <td>To</td>
                    <td>Classification</td>
                </tr>
                {% for form in formset %}
                <tr class="value_row">
                    <td>{{ form.task_no }}</td>
                    <td>{{ form.task_name }}
                        {% if form.task_name.errors %}
                            {% for error in form.task_name.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ form.time }}
                        {% if form.time.errors %}
                            {% for error in form.time.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ form.time_start }}</td>
                    <td>{{ form.time_end }}</td>
                    <td>{{ form.classification }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="create new tasks" class="button" />
    </form>


    <!-- Include formset plugin - including jQuery dependency -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'timentor/jquery.formset.js' %}"></script>
    <script type="text/javascript">
            $('#new_todo_list .value_row').formset({
                addText: 'add task',
                deleteText: 'delete'
            });
    </script>
{% endblock %}